<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
  <form  class="login_container">
    <div class="login_frame">
      <div class="login_top">
        <span>Syatga kirish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>Ro'yhatdan o'tganmisiz?<a href="/resto/sighup" style="color: #6440fb">Ro'yhatdan o'tish</a></p>
      </div>

      <div class="login_input_frame">
        <!-- Foydalanuvchi ism inputi -->
        <div class="login_input_container">
          <label>Foydalanuvchinng ism:</label>
          <input type="text" name="mb_nick" placeholder="Foydalanuvchining ismi" value="" required>
        </div>

        <!-- Foydalanuvchi password -->
        <div class="login_input_container">
          <label>Passwordni kiriting:</label>
          <input type="password" name="mb_password" placeholder="Password" value="" required>
        </div>

      </div>

      <button class="login_btn btn" name="login" type="submit">Kirish</button>
    </div>


  </form>
</body>
<%- include('includes/footer') %>