<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
  <form
  class="login_container"
  action="/resto/sign-up"
  method="POST"
  enctype="multipart/form-data">

    <div class="login_frame" style="width: 650px; height: 730px;">

      <div class="login_top">
        <span>Ro'yxatdan o'tish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>Ro'yhatdan allaqachon o'tganmisiz? <a href="/resto/login" style="color: #6440fb">Login</a></p>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Foydalanavuchi ismi</label>
          <input type="text" name="mb_nick" placeholder="Foydalanuvchining ismi" value="" required>
        </div>

        <div class="sign_up_frame">
          <label>Telefon raqamingiz</label>
          <input type="text" name="mb_phone" placeholder="Telefon raqam" value="" required>
        </div>
      </div>

      <!-- PASSWORD SECTION -->
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Password</label>
          <input type="password" name="mb_password" placeholder="Passwordni kiriting" value="" required>
        </div>

        <div class="sign_up_frame">
          <label>Password tasdiqlash</label>
          <input type="password" name="mb_confirm_password" placeholder="Passwordni tasdiqlash" value="" required>
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media-frame">
          <img class="upload_img_frame" src="/images/default_resto.jpg" alt="rest">
          <div class="upload_container">
            <span class="media_text">Taom Rasmi</span>
            <div class="filebox bs3-primary preview-images">
              <input class="upload-name" value="Rasmni tanlang" disabled="disabled">
              <label>Rasmni Yuklash</label>
              <input
              class="upload-hiddin form-control-file restaurant_img"
              type="file"
              name="restaurant_img"
              placeholder=""
              id="input_file"
              required>
            </div>

            <p class="thumbnail_desc">Oshxona rasmingizni bu yerga yuklang.
              <br>Muhim ko'rsatmalar: .jpg, .jpeg yoki .png. <br> Rasmda matn bo'lmasligi kerak!
            </p>
          </div>
        </div>
      </div>

      <!-- RO"YHATDAN O"TISH BUTTON -->
      <button class="login_btn btn" name="signup" type="submit">Ro'yhatdan o'tish</button>

    </div>
  </form>
</body>
<%- include('includes/footer') %>