<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
  <form
  onsubmit="return validateSignUpForm ()"
  class="login_container"
  action="/resto/sign-up"
  method="POST"
  enctype="multipart/form-data">

  <div class="login_frame" style="width: 650px; height: 730px;">

    <div class="login_top">
      <span>Ro'yxatdan o'tish</span>
      <div>
        Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
      </div>
      <p>Ro'yhatdan allaqachon o'tganmisiz? <a href="/resto/login" style="color: #6440fb">Login</a></p>
    </div>

    <!-- User nick input -->
    <div class="sign_input_frame">
      <div class="sign_up_frame">
        <label>Foydalanavuchi ismi</label>
        <input class="mb_nick" type="text" name="mb_nick" placeholder="Foydalanuvchining ismi" value="" required>
      </div>

      <!-- User phone input -->
      <div class="sign_up_frame">
        <label>Telefon raqamingiz</label>
        <input class="mb_phone" type="text" name="mb_phone" placeholder="Telefon raqam" value="" required>
      </div>
    </div>

    <!-- PASSWORD SECTION -->
    <div class="sign_input_frame">
      <div class="sign_up_frame">
        <label>Password</label>
        <input class="mb_password" type="password" name="mb_password" placeholder="Passwordni kiriting" value="" required>
      </div>

      <div class="sign_up_frame">
        <label>Password tasdiqlash</label>
        <input class="mb_confirm_password" type="password" name="mb_confirm_password" placeholder="Passwordni tasdiqlash" value="" required>
      </div>
    </div>

    <!-- RESTAURANT IMG SECTION -->
    <div class="login_input_frame">
      <div class="media-frame">
        <img class="upload_img_frame" src="/images/default_resto.jpg"/>
        <div class="upload_container">
          <span class="media_text">Restaurant Rasmi</span>
          <div class="filebox bs3-primary preview-images">
            <input class="upload-name" value="Rasmni tanlang" disabled="disabled">
            <label for="input_file">Rasm Yuklash</label>
            <input
            class="upload-hidden form-control-file restaurant_img"
            id="input_file"
            type="file"
            name="restaurant_img">
          </div>

          <p class="thumbnail_desc">Oshxona rasmingizni bu yerga yuklang.
            <br>Muhim ko'rsatmalar: .jpg, .jpeg yoki .png. <br> Rasmda matn bo'lmasligi kerak!
          </p>
        </div>
      </div>
    </div>

    <!-- RO"YHATDAN O"TISH BUTTON -->
    <button class="login_btn btn" name="signup" type="submit">Ro'yhatdan o'tish</button>

  </div>
</form>
</body>

<script>
  $(function () {
    let fileTarget = $(".filebox .upload-hidden");
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        const uploading_file = $(this)[0].files[0];
        const fileType = uploading_file["type"];
        const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
        if (!validImageTypes.includes(fileType)) {
          alert ("Iltimos ruhsat etilgan formatdagi rasm yuklang: jpg, jpeg va png!");
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
            .attr("src", URL.createObjectURL(uploading_file))
            .addClass("success");
          }
          filename = uploading_file.name;
        }
      }

      $(this).siblings(".upload-name").val(filename);
    });
  });

  function validateSignUpForm() {
    const mb_nick = $(".mb_nick").val();
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

    if (mb_nick == "" || mb_phone == "" || mb_password == "" || mb_confirm_password == "" ) {
      alert("Please complete all the fields");
      return false;
    } else if (mb_password !== mb_confirm_password) {
      alert(`Please enter password correctly`);
      return false;
    }

    if (!restaurant_img) {
      alert("Please upload image");
      return false;
    }
    return true;
  }
</script>
<%- include('includes/footer') %>